<h1> <%= @movie.title %> Show Page </h1>

<p> Created: <%= @movie.creation_year %> </p>
<p> Genre: <%= @movie.genre %> </p>

<p> Actors in Film </p>
<% @sorted_actors.each do |actor| %>
  <p> <%= actor.name %> </p>
  <p> <%= actor.age %> </p>
<% end %>

<p>Average age of all actors: <%= @average_age %></p>

<p> Add an Actor </p>

<%= form_with url: "/movies/#{@movie.id}", method: :post, data: {turbo: false} do |form| %>
  <%= form.label :actor_id, "Add Actor" %> <br>
  <%= form.text_field :actor_id %> <br>
  <%= form.submit "Submit" %> 
<% end %>
