<h1> <%= @movie.title %> </h1>
Year: <%= @movie.creation_year %> </br>
Genre: <%= @movie.genre %> </br>

Actors:
<ul> <% @age_sorted_actors.each do |actor| %>
  <div id="actor-<%= actor.id %>">
  Name: <%= actor.name %>, Age: <%= actor.age %> 
  </div>
<% end %> </ul>

<div id="average_age">
Average Age of Actors in this Movie: <%= @movie.actors.average_age %>
</div>

<%= form_with url: "/movie_actors", method: :post, data: {turbo: false} do |form| %>
  <%= form.label "Add an Actor" %>
  <%= form.text_area :actor_id %>
  <%= form.hidden_field :movie_id, value: "#{@movie.id}" %>
  <%= form.submit "Submit" %>
<% end %>