<h1> <%= @movie.title %> info! </h1>

<h3>Movie creation year: <%=@movie.creation_year%></h3>
<h3>Movie genre: <%=@movie.genre%></h3>

<h2>Actors in movie</h2>
<section class='actors'>
  <% @movie.actors_age_order.each do |actor| %>
    <%= actor.name %>
    <%end%>
</section>
<h3>Movie actors average age: <%= @movie.actors_avg_age %></h3>

<h3>Add an actor to this movie</h3>
<%=form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form|%>
  <%= form.label :actor_id, "Actor ID:" %>
  <%= form.text_field :actor_id %>

  <%= form.submit "Add Actor" %>
<%end%>
