<h1>Studios</h1>

<% @studios.each do |studio| %>
  <h2><%= studio.name %> </h2>
  <h2><%= studio.location %></h2>
  <ul>
    <% studio.movies.each do |movie| %>
      <li>
        <p>Title:</p> <%= movie.title %><br>
        <p>Creation Year:</p> <%= movie.creation_year %><br>
        <p>Genre:</p> <%= movie.genre %>
      </li>
    <% end %>
  </ul>
<% end %>