<h1>Studios Index</h1>

<% @studios.each do |studio| %>
  <div id="studio_<%= studio.id %>_info">
    <h2><%= studio.name %></h2>
    <p>Location: <%= studio.location %></p>

    <div id="studio_<%= studio.id %>_movies" %>
      <h3>Movies</h3>
      <% studio.movies.each do |movie| %>
        <div id="studio_<%= studio.id %>_movie_<%= movie.id %>" %>
          <p>Title: <%= movie.title %></p>
          <p>Creation Year: <%= movie.creation_year %></p>
          <p>Genre: <%= movie.genre %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>